<%= form_with(model: poker_hand, class: "contents") do |form| %>
  <% if poker_hand.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(poker_hand.errors.count, "error") %> prohibited this poker_hand from being saved:</h2>

      <ul>
        <% poker_hand.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5 flex flex-col">
    <%= form.label :cards %>
    <input name="poker_hands[cards][]" type="text" aria-label="First card"/>
    <input name="poker_hands[cards][]" type="text" aria-label="Second card"/>
    <input name="poker_hands[cards][]" type="text" aria-label="Third card"/>
    <input name="poker_hands[cards][]" type="text" aria-label="Forth card"/>
    <input name="poker_hands[cards][]" type="text" aria-label="Fifth card"/>
  </div>

  <div class="my-5">
    <%= form.label :optional_wildcard %>
  </div>
  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
